[data-md-color-scheme="perso"] {
  /* variables globales */
  --md-default-fg-color: hsla(0, 0%, 0%, 90%);
  --md-default-bg-color: hsl(0, 0%, 100%); /* arrière-plan par défaut */
  --md-primary-fg-color: hsl(205, 80%, 42%); /* bandeau */
  --md-primary-fg-color--light: hsl(205, 80%, 55%); /* bandeau */
  --md-primary-bg-color: white; /* texte de la barre de titre */
  --md-accent-fg-color: hsl(205, 85%, 40%); /* couleur d'accentuation, dans les liens notamment */
  --md-accent-bg-color: var(--md-primary-bg-color); /* texte de boutons */

  --md-typeset-a-color: var(--md-accent-fg-color);
}

.md-footer__inner:not([hidden]), .md-footer-meta__inner {
    display: none
}

.md-typeset code, .md-typeset pre {
  font-size: 0.8rem;  /* taille écrasée par défaut qqe part ailleurs */
}


.Y{
  color: red;
  background-color: orange;
  padding-right: 30px;
  background: url("../img/logo_capytale.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 15px;
}

.pdf{
  color: red;
  background-color: orange;
  padding-right: 30px;
  background: url("../img/pdf_icon.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 15px;
}

.pdf{
  color: red;
  background-color: orange;
  padding-right: 30px;
  background: url("../img/pdf_icon.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 15px;
}

code{
  font-size: 240px;
  color: red;
}