
input[type=text]:not(.md-search__input){
    font-size: 0.7rem;
    padding: 0.2rem;
    border-radius: 4px;
    border: thin solid red;
    border-color: var(--md-default-fg-color--lightest);
    background-color: var(--md-default-bg-color);
}

button:not(.md-clipboard), input[type=button]:not(.md-clipboard){
    padding: 0.2rem 0.6rem;
    font-size: 0.7rem;
    border-radius: 4px;
    border-width: thin;
    border-style: solid;
    border-color: var(--md-default-fg-color--lightest);
    background-color: var(--md-default-bg-color);
    font-weight: 500;
}

button:hover{
    background-color: var(--md-primary-fg-color--light);
}

.devel{
    text-decoration: overline;
}
